<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>The current time is {{ current_time }}</p>

    <div>
        <h2>Short answers to each of the following questions (Part 1):</h2>
        <ul>
            <li>
                What is a client? A client is a piece of computer hardware or software that accesses a service made available by a server.
            </li>
            <li>
                What is a server? A server is a computer program or a device that provides functionality for other programs or devices, called "clients".
            </li>
            <li>
                What is an HTTP request? An HTTP request is a request message sent from the client to the server. 
            </li>
            <li>
                What is Django and why do we use it? Django is a Python-based free and open-source web framework, which follows the model-template-view (MTV) architectural pattern. We use it to ease the creation of complex, database-driven websites.
            </li>
        </ul>
        <h2>
        <h2>Short answers to each of the following questions (Part 2):</h2>
        <ul>
            <li>
                What does MVC stand for? It stands for Model-View-Controller.
            </li>
            <li>
                What is the M component responsible for in an MVC app? Which part of a Django app does this correspond to? It is responsible for managing the data of the application. It receives input from the controller. In django app, it corresponds to model.
            </li>
            <li>
                What is the V component responsible for? Which part of a Django app does this correspond to? It is responsible for containing the html data, i.e. the front end. It also describes the data that is presented to the user. In django app, it corresponds to template. 
            </li>
            <li>
                What is the C component responsible for? Which part of a Django app does this correspond to? It is responsible for coordinating between the model and the view. In django app, it corresponds to view.
            </li>
            <li>
                What is a migration? Why do we use them? A migration is Django's way of propagating changes you make to your models into your database schema. They are used to save changes into a database.
            </li>
        </ul>
        <h2>
    </div>
</body>
</html>